.main {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  gap: 20px;
}
h1 {
  text-align: center;
}

img {
  width: 300px;
  height: 300px;
}

.btn {
  margin-top: 50px;
  width: 200px;
  height: 70px;
  margin-left: 45%;
}
