* {
  padding: 0%;
  margin: 0%;
}

/* .dark {
  background-color: black;
  color: #fff;
} */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
}

.btn {
  max-width: 30%;
  padding: 1% 2%;
  border-radius: 20%;
}
